.home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./src/assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-family: Ubuntu, "san-serif";
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 35px;
}
.content h5{
    color: white;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 35px;
}
.content button{
    padding: 8px 23px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 17px;
    background-color: transparent;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.content button:hover{
    background-color: white;
    color: black;
}

@media (max-width:1000px){
    .content h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .content h5{
        font-size: 23px;
        margin-bottom: 25px;
    }
}
@media (max-width:550px){
    .content h1{
        font-size: 40px;
        margin-bottom: 17px;
    }
    .content h5{
        font-size: 17px;
        margin-bottom: 25px;
    }
    .content button{
        padding: 6px 15px;
        font-size: 15px;
    }
}
