
.up{
    cursor: pointer;
    position: fixed;
    display: none;
    background-color: #00b4d8;
    border-radius: 6px;
    font-size: 25px;
    z-index: 999;
    bottom: 20px;
    right: 25px;
    border:  2px solid #00b4d8;
    transition: all 0.2s ease-in-out;
}
.up.show{
    display: block;
}
.up a{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBF8F3;
    height: 45px;
    width: 45px;
}
.up:hover{
    background: none;
}

/* similar style for all sections */
section{
    font-family: "poppins" , sans-serif;
    background-color: #FBF8F3;
}
.max-width .title{
    font-family: 'ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 14px;
    position: relative;
}
/* //////////////////////////////////////////////// */
/* contact section style  */
.contact{
    padding: 70px 0;

}
.contact-content{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
}
.contact-content .column{
    width: calc(50% - 40px);
}


.contact-content .column .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-content .left p{
    text-align: justify;
    margin-bottom: 20px;
}
.contact-content .left .info{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
.contact-content .left .info .icon i{
    font-size: 30px;
    color:purple;
    margin-right: 16px;
}
.contact-content .left .info .info-content .cont1{
    font-weight: 500;
}

.contact-content .right form .fields{
    display: flex ;
    flex-direction: column;
}
.contact-content .right form .fields .two{
    display: flex;
    gap: 0 20px;
}
.contact-content .right form .fields .two .name,
.contact-content .right form .fields .two .email{
    width: 100%;
}

.contact-content .right form .fields .field{
    margin-bottom: 20px;
    width: 100%;
}
.contact-content .right form .fields .field input{
    width: 100%;
    height: 45px;
    border: 1px solid rgb(167, 166, 166);
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 10px;
}
.contact-content .right form .fields .field textarea{

    width: 100%;
    height: 140px;
    border: 1px solid rgb(167, 166, 166);
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 10px;
}

/* .contact-content .right form .fields .submit-btn{
    mar
} */
.contact-content .right form .fields .submit-btn a{
    border: 2px solid purple;
    color: rgb(245, 244, 244);
    background-color: purple;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    font-weight: 600;
}
.contact-content .right form .fields .submit-btn a:hover{
    background: none;
    color: purple;
}

/* footer section style */
/* responsive media */
@media (max-width:1310px) {
    .hero  .max-width{
        padding: 0 50px;
        margin-left: 0;
    }
    
}
@media (max-width:1010px) {
   
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .hero .text-1{
        font-size: 20px;
    }
.hero .text-2{
    font-size: 50px;
    
}
.hero .text-3{
    font-size: 23px;
    font-weight: 400;
}
    
}
@media (max-width: 950px){
   
    .about .about-content column{
     width: 50%;
    }
   .max-width .serv-content .card{
        width: calc(50% - 10px);
    }
  .max-width  .skill-content .column{
    margin-bottom: 50px;
        width: 100%;
   }
}
@media (max-width: 900px){
    .about .about-content .column{
        width: 100%;
       }
       .about .about-content .left{
         margin: 0 auto 50px;
       }
       .contact-content .column{
        margin-bottom: 50px;
        width: 100%;
    }
    .up a{
        height: 35px;
        width: 35px;
        font-size: 15px;
    }
}
@media (max-width:550px){
    .max-width{
        padding: 0 20px;
    }
   
    .hero .text-1{
        font-size: 16px;
    }
.hero .text-2{
    font-size: 40px;
    
}
.hero .text-3{
    font-size: 19px;
    font-weight: 400;
}
.hire a{
    padding: 7px 20px;
}
.max-width .serv-content .card{
    width: 100%;
}
.max-width .title{
    font-size: 30px;
}
#left{
    left:-14px;
    
}
#right{
    right:-14px;
}
.max-width .title::after{
    font-size: 14px;
    top: 38px;
}

}